<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Konversi Uang</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hasil Konversi</div>
        <hr>
            <tr>
                <th>Rupiah ke USD     : </th><td th:text="${usd}"></td></br>
                <th>Rupiah ke POUND   : </th><td th:text="${pound}"></td></br>
                <th>Rupiah ke RINGGIT : </th><td th:text="${rm}"></td></br>
            </tr>
    </body>
</html>